table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #343444;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #343444;
}

#computer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#computer > #background {
    background-image: url("https://static.miraheze.org/windowswallpaperwiki/c/cf/Bliss.jpg");
    background-size: cover;
    background-position: center;
    width: 60vw;
    height: 30vw;
}

#computer-icons {
    display: flex;
    flex-flow: wrap;
    height: 70px;
}

#computer div {
    padding: 20px;
    flex: 1 1 50px;
}

#computer img {
    height: 50px;
}

#computer p {
    color: black;
    margin-top: 0;
}

#computer a {
    border-bottom: none;
}

@media (max-width: 1000px) {
    #computer > #background {
        width: 30vh;
        height: 60vh;
    }
}

@media (max-width: 750px) {
    #computer img {
    }

    #computer div {
        padding: 10px;
        flex: 1 1 25px;
    }
}