#gamejam .button-container {
    justify-content: center;
    display: flex;
}

#gamejam img {
    width: 480px;
    height: 384px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jamFlex {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.jamInfoText {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    position: relative;
    overflow-x: hidden;
}

.jamTitle {
    position: absolute;
    color: white;
    font-size: 1.2em;
    z-index: 1;
    width: 480px;
    height: 384px;
    bottom: -40px;
}

.jamInfo {
    position: absolute;
    bottom: 0;
    font-size: 0.95em;
    left: 10px;
}