.container {
    margin: auto;
    width: 90%;
    margin-top: 2em;
    padding: 2em;
    border-radius: 5px;
    background-color: #f6f6f6;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}

h3 {
    font-size: 1em;
}

a {
    text-decoration: none;
    border-bottom: dotted 1px;
    color: rgb(82, 94, 167);
}

a:hover {
    color: #EF6480;
    border-bottom-color: transparent;
}

body {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

img {
    width: 30em;
}

.flex {
    display: flex;
}

#projectPreview {
    flex: 30%;
}

#projectDisplay {
    flex: 70%;
}

#projectDisplayContent {
    width: 100%;
    height: auto;
}

.projectPreviewInstance {
    border-radius: 10px;
    outline: 1px solid white;
    cursor: pointer;
}