.flex {
    display: flex;
}

#projectPreview {
    flex: 30%;
    overflow-y: scroll;
    height: 85vh;
    text-align: center;
}

#projectDisplay {
    flex: 70%;
}

#projectDisplayContent {
    width: 100%;
    height: auto;
}

.projectPreviewInstance {
    border-radius: 10px;
    outline: 1px solid black;
    cursor: pointer;
}

#projectDisplayButtons {
    margin-top: .5em;
}

#projectDisplayText {
    font-size: 1.2em;
}

#projectDisplaySubtext {
    font-size: .9em;
    font-style: italic;
    margin-top: 0;
}

#projectDisplayTitle {
    font-size: x-large;
}

#projectNormalPreview {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#projectNormalPreviewImage {
    max-width: 60vw;
}