/* Container for highlighted projects */
.flex {
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
}


/* Highlighted project */
.highlight-preview {
    width: 40%;
    min-width: 500px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: .2em;
}

.highlight-preview img {
    width: 100%;
}

.highlight-preview p {
    margin-left: 20px;
    margin-right: 20px;
}

/* Buttons for an highlighted projcet */
.project-buttons {
    margin-top: 1em;
    margin-bottom: 1em;
}


/* Preview image displayed when hovering normal project */
#projectNormalPreview {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#projectNormalPreviewImage {
    max-width: 60vw;
}
.censor {
    color: transparent;
}