.flex {
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
}

.highlight-preview {
    width: 40%;
    min-width: 500px;
}

.highlight-preview img {
    width: 100%;
}

#projectNormalPreview {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#projectNormalPreviewImage {
    max-width: 60vw;
}

.project-buttons {
    margin-top: 1em;
    margin-bottom: 1em;
}

.censor {
    color: transparent;
}