.tabSystem > button {
    background: none;
    width: 22%;
    padding-top: .5em;
    padding-bottom: .5em;
    font-size: 1em;
}

.tabSystem > button.small {
    width: 5%;
}

.tabSystem > button:hover {
    background-color: rgb(235, 235, 235);
}

.tabSystem {
    text-align: center;
}