html {
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgb(122, 9, 32) 100%);
    animation: switch 1s infinite;
}

.container {
    background: red;
    animation: gradient .5s infinite;
}

img {
    animation: rotate 1.5s linear infinite;
}

.button {
    z-index: 1;
    animation: 
        stretch
        1.5s
        ease-out
        0s
        alternate
        infinite
        none
        running;
}

p {
    animation: translate 1.5s alternate infinite;
    animation: slidein 5s alternate infinite;
}

h1, h2, h3 {
    animation: rotate 4s linear infinite;
    animation: text_size_change 2s alternate infinite;
}

.globalTab {
    animation: width_change 12s alternate infinite;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    75% {
      font-size: 300%;
      margin-left: 25%;
      width: 150%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
}

@keyframes width_change {
    from {
        width: 100%;
    }
    to {
        width: 20%;
    }
}
@keyframes text_size_change {
    from {
        font-size: 1em;
    }
    to {
        font-size: 5em;
    }
}
@keyframes switch {
    from {
        background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgb(122, 9, 32) 100%);
    }
    to {
        background: radial-gradient(circle, rgb(122, 9, 32) 0%, rgba(63,94,251,1) 100%);
    }
}
@keyframes gradient {
    from {background-color: rgb(212, 148, 104);}
    to {background-color: yellow;}
}
@keyframes rotate {
    to {
      transform: rotate(360deg);
    }
}
@keyframes translate {
    to {
      transform: translate(200px);
    }
}
@keyframes stretch {
    0% {
      transform: scale(.3);
      border-radius: 100%;
    }
    100% {
      transform: scale(1.5);
    }
}